body {
  font-family: sans-serif;
  text-align: center;
  background-color: #6b79f1;
}

.container {
  margin-top: 250px;
  padding: 122px 100px;
}

.buttons a {
  padding: 10px 50px;
  margin: 10px;
  text-decoration: none;
  color: rgb(141, 35, 35);
  background-color: #00ff08;
  border-radius: 20px;
}
